body{
    margin: 0;
    font-family: mainFont;
    background-color: #eee2dc;
    color: #123c69;
}

section{
    display: grid; 
    place-items: center;
    align-content: center; 
    min-height: 40vh;
}

.bigtext{
    display: grid;
    margin: 10px; 
    place-items: center; 
    align-content: center;
    font-size: 80px; 
    height: 150px
}

.mediumtext{
    display: grid; 
    margin: 10px; 
    place-items: center; 
    align-content: center;
    font-size: 40px; 
    height: 100px
}

.navigationbar{
    font-family: mainFont;
    background-color:#c16c89;
    margin: 0;
    padding: 20px 20px;
    background-blend-mode: darken;

}
.navigationdiv{
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.name a{
    text-decoration: none;
    font-size: 20px;
    color: #9b3659;
}

.navigationdiv ul{
    list-style: none; 
}

.navigationdiv li{
    margin-right: 20px;
    display: inline-block;
    
}

.navigationdiv li a{
    color: #ac3b61;
    text-decoration: none;
}

.navigationdiv li a:hover {
    color: #b45073;
}

@font-face {
    font-family: mainFont;
    src: url(fonts/Roboto-Black.ttf);
  }
  
@font-face {
    font-family: myFirstFont;
    src: url(fonts/Roboto-Bold.ttf);
    font-weight: bold;
  }

.hidden{
    opacity: 0; 
    transition: all 1s;
    transform: translateX(-100%);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.show {
    opacity: 1;
    transform: translateX(0); 
}

.sideby {
    display: flex; 
    justify-content: center;
    align-items: center;
}

.sideby div {
    display: flex;
    height: 300px; 
    width: 300px;
    padding: 20px;
}

.sideby img{ 
    max-width: 100%; 
    max-height: 100%;
}

.boxed {
    border-radius: 20px;
    background-color: #edc7b7;
    padding: 10px; 
    align-items: center;
    font-size: 20px;
    display: flex; 
    text-align: center;
    justify-content: center;
}

.stats-container{
    display: grid; 
    grid-template-columns: 1fr 1fr;
    margin: 20px auto; 
    max-width: 1000px; 
    padding-inline: 16px; 
}

.stats-container .stats{
    background-color: #9b3659; 
    color: white; 
    padding: 20px;
    text-align: center;
    width: 400px; 
    height: 100px; 
}

.stats-container .stats .counter{
    font-size: 55px; 
    font-weight: bold; 
}

.stats-container .stats .type{
    font-size: 30px; 
}

